.left_section {
    height: 500px;
}

.left_section .people_tabs {
    border: 1px solid #6d5b5b;
    padding: 40px 10px;
    cursor: pointer;
}

.header_section {
    display: flow-root;
    margin-top: 70px;
    margin-bottom: 40px;
}

.right_section img {
    width: 100px;
    border-radius: 10px;
}
.search_field input{
    border-radius: 25px;
    padding: 11px
}
.right_top_section a{
    padding: 20px;
    background: #505050;
    color: #fff;
    border-radius: 5px;
    margin-left: 100px;
}
.current_user_description{
    padding: 20px;margin: 20px 0px;box-shadow: -4.2px 0px 0px #888888;
}
.profile_details .user_define{
    font-size: 40px;
}